---
- name: Install Atom using Chocolatey and update the registry
  hosts: all
  vars:
    package_name: Atom
    package_url: https://chocolatey.org/api/v2/package/Atom/1.39.1
    package_local_path: C:\Windows\Temp\atom.nupkg

  tasks:
    - name: Atom package is retrieved on managed hosts
      win_uri:
        url: "{{ package_url }}"
        dest: "{{ package_local_path }}"
        method: GET

    - name: Atom is installed from a local source
      win_chocolatey:
        name: "{{ package_name }}"
        source: "{{package_local_path }}"
        state: present

    - name: Registry file is retrieved
      win_uri:
        url: >
          https://gitlab.example.com/student/updates/raw/master/files/RedHatTraining.reg
        dest: C:\Windows\Temp\RedHatTraining.reg
        validate_certs: no
        force_basic_auth: yes
        method: GET
        headers:
          PRIVATE-TOKEN: "{{ access_token }}"

    - name: Registry is updated
      win_regmerge:
        path: C:\Windows\Temp\RedHatTraining.reg


- name: Configure server for NTP
  hosts: all
  vars:
    time_key: 'HKLM:\SYSTEM\CurrentControlSet\Services\W32Time'

  tasks:
    - name: Configure time server type
      win_regedit:
        path: '{{ time_key }}\Parameters'
        name: Type
        data: NTP
        type: string
      notify: Restart windows time service

    - name: Configure AnnounceFlags
      win_regedit:
        path: '{{ time_key }}\Config'
        name: AnnounceFlags
        data: 5
        type: dword
      notify: Restart windows time service

    - name: Enable NTP time provider
      win_regedit:
        path: '{{ time_key }}\TimeProviders\NtpServer'
        name: Enabled
        data: 1
        type: dword
      notify: Restart windows time service

    - name: Configure upstream servers
      win_regedit:
        path: '{{ time_key }}\Parameters'
        name: NtpServer
        data: 0.rhel.pool.ntp.org,0x1
        type: string
      notify: Restart windows time service

    - name: Configure positive time correction
      win_regedit:
        path: '{{ time_key }}\Config'
        name: MaxPosPhaseCorrection
        data: 3600
        type: dword
      notify: Restart windows time service

    - name: Configure negative time correction
      win_regedit:
        path: '{{ time_key }}\Config'
        name: MaxNegPhaseCorrection
        data: 3600
        type: dword
      notify: Restart windows time service

  handlers:
    - name: Restart windows time service
      win_service:
        name: W32Time
        state: restarted
